body{
background: rgb(34,193,195);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(100,2,156,1) 100%);
}



.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 700vh;
}

.modal-content{
  width: 300px;
  margin: auto;
  margin-top: 15%;
  background-color: white;
}